###############################
#tensorflow==1.9.0
#tensorflow-gpu==1.9.0
#keras==2.1.6
###############################

###############################
## NVIDIA Geforce GTX 1060 Ti
###############################
#
# SYS : Windows 10
# Python : 3.6.8 、3.7.3
#
# cuda 10.0
#  
#    	https://developer.nvidia.com/cuda-toolkit-archive
#
#    	cuda_10.0.130_411.31_win10.exe
#
# cudnn 7.5.0.56
#
#	https://developer.nvidia.com/rdp/cudnn-archive
#
#  	Download cuDNN v7.5.0 (Feb 21, 2019), for CUDA 10.0
#  	
###############################

numpy==1.16.3 
tensorflow-gpu==2.3.1 
keras==2.2.4
opencv-python==3.4.3.18 

Pillow==5.1.0
matplotlib==2.2.2  
